<h4> User Login Page </h4>

<form method="POST" action="/login">
    <p> User Name: <input type="text" name="username"> </p>
    <p> Password: <input type="password" name="password"> </p>
    <input type="submit" value="Connect to account">
</form>

<a href="/welcome"> Create an account </a>