
<div class="columns">
    <div class="column is-8 is-offset-2">
        <form method="post" action="/books">
            <h2 class="title is-2 is-centered"> Share A New Book </h2>

                <div class="field">
                    <label class="label" for="author" >Book Author*</label>
                    <p class="control">
                        <input class="input" id="author" type="text" name="author"/>
                    </p>
                </div>

                <div class="field">
                        <label class="label" for="title" >Book Title*</label>
                        <p class="control">
                            <input class="input" id="title" type="text" name="title"/>
                        </p>
                </div>
                <br>

                <div class="field">
                        <label class="label" for="summary">Book Summary*</label>
                        <p class="control">
                            <textarea class="textarea" type="text" id="verse" name="summary"/></textarea>
                        </p>
                </div>

                <div class="field">
                        <label class="label" for="quote"> My favorite quote from the book*</label>
                        <p class="control">
                            <textarea class="textarea" type="text" id="verse" name="quote"/></textarea>
                        </p>
                </div>

                <div class="field">
                        <p class="control">
                            <button class="button is-success">
                              Create & Share
                            </button>
                        </p>
                </div>


                <br><br>

        </form>
    </div>
</div>